{% extends 'basic/base.html' %} {% block title %}Dashboard{% endblock %} {%block content %}
<h1>Dashboard</h1>
<p>Welcome, Doctor {{user.username}}!</p>
<h3>Quick Overview of Test</h3>
<ul>
    <li>Active Tests: {{ active_tests }}</li>
    <li>Pending Tests: {{ pending_tests }}</li>
    <li>Recent Completed Tests (Top 10): {{ completed_tests }}</li>
    <li>Graph for Past Ten Tests Completed: work in progress</li>
    <li>Graph for Total Tests Completed: work in progress</li>
</ul>
{% endblock %}